/* Declare attributes for the main body */
body {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

/* Header banner styling */
header {
    /* Spread the content of the header horizontally */
    display: flex;
    background-color: rgb(247, 241, 241);
    /* Stick the header banner to the top of the screen */
    position: sticky;
    top: 0px;
}

#logo {
    height: 120px;
}

header nav {
    /* Center the nav to grow into space i.e. flex-grow: 1;*/
    flex: 1;
    text-align: center;
    padding: 30px;
}

/* Flatten header nav unordered links list
and put in a re-usable class */
.nav-lists {
    display: inline;
    margin-right: 30px;
    margin-left: 30px;
}

.nav-links {
    /* Remove underline */
    text-decoration: none;
}

#cart-image {
    height: 20px;
    padding: 40px;
}

/* Main section content */
#main {
    display: flex;
    /* Align flex items along cross (vertical) axis */
    justify-content: space-around;
    /* align-items: center; */
    /* Adding space between flex items*/
    gap: 10px;
    margin: 10px;
    /* width: 80%; */
}

#welcome-message {
    display: flex;
    /* Declare welcome note as flex container with main axis on the column */
    flex-direction: column;
    align-items: center;
    /* border: 2px dotted red; */
    padding: 10px;
    font-family: lobster;
    /* width: 320px; */
    /* height: 383.5px; */
    flex-grow: 1;
}

#welcome-message h1 { 
    font-family: papyrus;
    font-size: 2rem;
    text-align: center;
    margin: 10px auto;
}

#welcome-message p {
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
}

#shop-now {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    background-color: antiquewhite;
    text-align: center;
}

/* Wine images on home page */
article img {
    height: 380px;
    width: 280px;
    margin-top: 90px;
    /* border: 2px dotted red; */
    border-radius: 20px;
}

/* Page Footer */
footer {
    display: flex;
    /* Put some space between and around flex items */
    justify-content: space-around;
    /* Align items across non-main axis i.e. cross axis */
    align-items: center;
    background-color: rgb(247, 241, 241);
    height: 250px;
}

/* Remove bullets from list */
footer ul {
    list-style: none;
}

footer li {
    margin: 10px;
}

/* Remove underline from links */
footer a {
    text-decoration: none;
}

footer img {
    height: 30px;
    width: 33px;
    margin-right: 2px;
}