* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.event-container {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* align-content: space-around; */
}