/* Declare attributes for the main body */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}



/* Main section content */
#main {
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    flex-wrap: wrap;
    /* border: 2px red solid; */
}

#welcome-message {
    width: 33%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: lobster;
    /* border: 2px red solid; */
}

#welcome-message h1 { 
    font-family: papyrus;
    font-size: 2rem;
}

#welcome-message p {
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
}

#shop-now {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    background-color: antiquewhite;
    text-align: center;
    transition: background 0.2s, color 0.2s, transform 0.2s;
}

#shop-now:hover {
    background: #e6d8b8;
    color: #222;
    transform: scale(1.07);
}

/* Wine images on home page */
article img {
    height: auto;
    width: 100%;
    max-width: 280px;
    border-radius: 20px;
    /* border: 2px red solid; */
}

@media (max-width: 900px) {
    #main {
        flex-direction: column;
        align-items: center;
    }
    #welcome-message {
        width: 90%;
        min-width: 200px;
    }
    article img {
        max-width: 90vw;
    }
}

